<div class="container">
  <form id="addToDo" (submit)='addItem(item)'>
     <div class="form-group">
      <label class="control-label" for='item'></label>
      <input class="form-control" id="focusedInput" type="text" #item value="Add Item">
    </div> 
  </form>
  <ul>
    <li [ngStyle]="{ 'text-decoration' : item.isComplete ? 'line-through' : 'none' }" *ngFor="let item of items; let i = index"><button (click)="deleteItem(item)">X</button>
      {{i + 1}}: {{item.prompt}}
      <button class="myBtn" (click)="lineThroughItem(item)">Done</button> 
    </li>
  </ul>
</div>